<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-footer u-border-no-bottom u-border-no-left u-border-no-right u-border-1" id="sec-fbac" style="margin-top: 110px">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-1"> 대표 : 김병훈, 박대준<br>이메일 : qwe@naver.com</p>
        <a class="u-image u-logo u-image-1" data-image-width="346" data-image-height="63">
            <img src="/images/groupirumiconbk.png" class="u-logo-image u-logo-image-1">
        </a>
        <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
            <a class="u-social-url" target="_blank" data-type="Custom" title="Custom" href="https://github.com/pt807/spring-boot-groupirum"><span
                    class="u-file-icon u-icon u-social-custom u-social-icon u-icon-1"><img src="/images/gitIcon.png"></span>
            </a>
        </div>
        <p class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-2">© Copyright 2022. ptbh. All Rights Reserved.</p>
    </div>
</footer>
</html>