.u-section-1 .u-sheet-1 {
  min-height: 109px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 40px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 261px;
}

.u-section-2 .u-table-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-body-1 {
  line-height: 1;
}

.u-section-2 .u-table-cell-7 {
  line-height: 1;
}

.u-section-2 .u-table-cell-11 {
  line-height: 1;
}