.u-section-1 .u-sheet-1 {
  min-height: 2238px;
}

.u-section-1 .u-image-1 {
  width: 70px;
  height: 70px;
  background-position: 50% 50%;
  margin: 130px auto 0 155px;
}

.u-section-1 .u-text-1 {
  margin: 10px 114px 0 155px;
}

.u-section-1 .u-text-2 {
  margin: 16px 805px 0 155px;
}

.u-section-1 .u-text-3 {
  margin: -22px 570px 0 335px;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 38px 570px 0 285px;
}

.u-section-1 .u-text-5 {
  margin: -28px 468px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -28px 364px 0 700px;
}

.u-section-1 .u-text-7 {
  margin: -28px auto 0 155px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 28px 187px 0 700px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: -28px 570px 0 285px;
}

.u-section-1 .u-text-10 {
  margin: -28px 468px 0 auto;
}

.u-section-1 .u-text-11 {
  margin: -26px auto 0 155px;
}

.u-section-1 .u-text-12 {
  margin: 196px auto 0 155px;
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 14px auto 0;
}

.u-section-1 .u-text-13 {
  width: 830px;
  margin: 38px auto 0;
}

.u-section-1 .u-form-1 {
  height: 209px;
  width: 871px;
  margin: 357px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-text-14 {
  margin: 100px 836px 0 125px;
}

.u-section-1 .u-text-15 {
  margin: -22px 145px 0 851px;
}

.u-section-1 .u-icon-1 {
  width: 14px;
  height: 14px;
  margin: -18px auto 0 826px;
  padding: 0;
}

.u-section-1 .u-text-16 {
  margin: 21px 145px 0 125px;
}

.u-section-1 .u-line-3 {
  width: 912px;
  margin: 23px auto 0 104px;
}

.u-section-1 .u-text-17 {
  margin: 10px 796px 0 165px;
}

.u-section-1 .u-text-18 {
  margin: -22px 145px 0 851px;
}

.u-section-1 .u-icon-2 {
  width: 14px;
  height: 14px;
  margin: -18px auto 0 826px;
  padding: 0;
}

.u-section-1 .u-text-19 {
  margin: 21px 104px 0 165px;
}

.u-section-1 .u-icon-3 {
  width: 22px;
  height: 22px;
  margin: -50px auto 0 125px;
  padding: 0;
}

.u-section-1 .u-line-4 {
  width: 912px;
  margin: 51px auto 60px 104px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2157px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 155px;
    margin-left: 78px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 78px;
    margin-right: 78px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 644px;
    margin-left: 78px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 409px;
    margin-left: 297px;
  }

  .u-section-1 .u-line-1 {
    height: 0;
    margin-top: 51px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 51px;
    margin-right: 490px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 446px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 332px;
    margin-left: 535px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 78px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 51px;
    margin-right: 204px;
    margin-left: 535px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 490px;
    margin-left: 220px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 446px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -28px;
    margin-left: 78px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 230px;
    margin-left: 78px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 28px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 40px;
    margin-right: 33px;
    margin-left: 78px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 394px;
    margin-right: 42px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 101px;
    margin-right: 743px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 52px;
    margin-left: 744px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 699px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 51px;
    margin-left: 18px;
  }

  .u-section-1 .u-line-3 {
    margin-top: 18px;
    margin-left: 7px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 15px;
    margin-right: 699px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-right: 52px;
    margin-left: 744px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 699px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-right: 7px;
    margin-left: 62px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -36px;
    margin-left: 28px;
  }

  .u-section-1 .u-line-4 {
    margin-top: 35px;
    margin-left: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2358px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 137px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
    margin-right: 91px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-right: 437px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 202px;
    margin-left: 283px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-top: 115px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 337px;
    margin-left: 204px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 193px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 85px;
    margin-left: 565px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 64px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 45px;
    margin-right: -38px;
    margin-left: 565px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -31px;
    margin-right: 309px;
    margin-left: 204px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -25px;
    margin-right: 193px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 64px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 250px;
    margin-left: 64px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 27px;
    margin-right: 91px;
    margin-left: 64px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 548px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: 541px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 576px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 535px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-17 {
    margin-right: 503px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 576px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 535px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 23px;
    margin-right: -38px;
    margin-left: 38px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -41px;
    margin-left: 11px;
  }

  .u-section-1 .u-line-4 {
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2395px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 156px;
    margin-left: 52px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
    margin-right: 13px;
    margin-left: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-right: 270px;
    margin-left: 52px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 35px;
    margin-left: 271px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 213px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 68px;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 245px;
    margin-left: 221px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -124px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 116px;
    margin-right: 111px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -124px;
    margin-right: 86px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 68px;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -124px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 338px;
    margin-left: 52px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-13 {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 554px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    margin-right: 361px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 396px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    margin-top: 34px;
  }

  .u-section-1 .u-line-3 {
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-17 {
    margin-top: 20px;
    margin-right: 332px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 396px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    margin-top: 18px;
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -36px;
    margin-left: 0;
  }

  .u-section-1 .u-line-4 {
    margin-top: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2271px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 135px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
    margin-right: 76px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-right: 99px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 83px;
    margin-left: 22px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-top: 22px;
    margin-right: 12px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 79px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 125px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -135px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 129px;
    margin-right: 0;
    margin-left: 160px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -128px;
    margin-right: 12px;
    margin-left: 156px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 72px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -128px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 348px;
    margin-left: 22px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-13 {
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 369px;
    margin-right: 15px;
    margin-left: -14px;
    width: 340px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 176px;
    margin-left: -14px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 15px;
    margin-left: 182px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: auto;
    margin-left: 156px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 19px;
    margin-right: 15px;
    margin-left: -14px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: -14px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 22px;
    margin-right: 147px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 15px;
    margin-left: 182px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
    margin-left: 156px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 19px;
    margin-right: -14px;
    margin-left: 15px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: -14px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: -14px;
  }
}