<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;" lang="ko">
<head th:replace="fragments/head :: head('GroupIrum', 'contact.css')"></head>
<body data-home-page="Contact.html" data-home-page-title="Contact" class="u-body u-xl-mode">
<header th:replace="fragments/header :: header"></header>
<section class="u-align-left u-clearfix u-custom-color-1 u-section-1" id="sec-3e43">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-large-text u-text u-text-variant u-text-1"> 이제는 빠르게 팀원을 찾을 수 있어요</p><span
            class="u-file-icon u-icon u-icon-1"><img src="/images/gamePadIcon.png"></span>
        <h2 class="u-text u-text-default u-text-2" style="font-family: SpoqaHanSansNeo-Bold; color: white">팀원 찾기 사이트 "<span style="font-weight: 600;">그룹이룸</span>"을 소개합니다.&nbsp;
        </h2>
    </div>
</section>
<section class="skrollable u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-section-2" id="carousel_3c8c" style="margin-bottom: 300px">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-align-left-sm u-align-left-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-1">
                        <a href="#" id="all"
                           class="u-border-2 u-border-grey-40 u-border-hover-palette-5-dark-3 u-btn u-btn-round u-button-style u-custom-item u-none u-radius-19 u-text-body-color u-btn-1">
                            <span class="u-file-icon u-icon u-icon-1"></span>all
                        </a>
                    </div>
                </div>
                <div class="u-align-left-sm u-align-left-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-1">
                        <a href="#" id="overwatch"
                           class="u-border-2 u-border-grey-40 u-border-hover-palette-5-dark-3 u-btn u-btn-round u-button-style u-custom-item u-none u-radius-19 u-text-body-color u-btn-1">
                            <span class="u-file-icon u-icon u-icon-1"><img src="/images/overWatch.png"></span>&nbsp;overwatch
                        </a>
                    </div>
                </div>
                <div class="u-align-left-sm u-align-left-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
                    <div class="u-container-layout u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-2">
                        <a href="#" id="League of Legends"
                           class="u-border-2 u-border-grey-40 u-border-hover-palette-5-dark-3 u-btn u-btn-round u-button-style u-custom-item u-none u-radius-19 u-text-body-color u-btn-2">
                            <span class="u-file-icon u-icon u-icon-2"><img src="/images/lolIcon.png"></span>&nbsp;League of Legends
                        </a>
                    </div>
                </div>
                <div class="u-align-left-sm u-align-left-xs u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
                    <div class="u-container-layout u-similar-container u-valign-top-sm u-valign-top-xs u-container-layout-3">
                        <a href="#" id="battle ground"
                           class="u-border-2 u-border-grey-40 u-border-hover-palette-5-dark-3 u-btn u-btn-round u-button-style u-custom-item u-none u-radius-19 u-text-body-color u-btn-3">
                            <span class="u-file-icon u-icon u-icon-3"><img src="/images/battleGroundIcon.png"></span>&nbsp;battle ground
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="u-expanded-width u-list u-list-2">
            <div id="recruitCards" class="u-repeater u-repeater-2">
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer :: footer"></footer>
<script src="/js/index.js"></script>
</body>
</html>