<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;" lang="ko">
<head th:replace="fragments/head :: head('Login', 'login.css')"></head>
<body class="u-body u-stick-footer u-xl-mode">
<header th:replace="fragments/header :: header"></header>
<section class="u-border-1 u-border-black u-border-no-bottom u-border-no-left u-border-no-right u-clearfix u-section-1" id="sec-c994">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-text u-text-default u-text-1">Login</h4>
        <img class="u-image u-image-default u-preserve-proportions u-image-1"
             src="/images/google_login_button.png" alt="google_login" data-image-width="382" data-image-height="92"
             data-href="/oauth2/authorization/google">
        <img class="u-image u-image-round u-radius-5 u-image-2" src="/images/naver_login_button.png"
             alt="naver_login" data-image-width="600" data-image-height="160" data-href="/oauth2/authorization/naver">
        <img class="u-image u-image-round u-radius-5 u-image-3" src="/images/kakao_login_button.png"
             alt="kakao_login" data-image-width="366" data-image-height="90" data-href="/oauth2/authorization/kakao">
    </div>
</section>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>