<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;" lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>recruitView</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.png"/>
    <link rel="stylesheet" href="/css/nicepage.css">
    <link rel="stylesheet" href="/css/recruitView.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepageView.js" defer=""></script>
    <meta name="theme-color" content="#478ac9">

</head>
<body class="u-body u-xl-mode">
<header class="u-clearfix u-header u-header" id="sec-540d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="346" data-image-height="63">
            <img src="/images/groupirumiconbk.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-align-right u-menu u-menu-one-level u-offcanvas u-menu-1" data-position="nav"
             data-responsive-from="XS" data-submenu-level="on-click">
            <div class="menu-collapse"
                 style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-custom-color-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            href="/" style="padding: 10px 0px;">모집하기</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-custom-color-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            href="/" style="padding: 10px 0px;">마이페이지</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-border-2 u-border-active-grey-90 u-border-hover-custom-color-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90"
                            href="/" style="padding: 10px 0px;">로그인</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-container-style u-grey-80 u-inner-container-layout u-sidenav u-sidenav-1"
                     data-offcanvas-width="263.9844">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-spacing-5 u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">모집하기</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">마이페이지</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">로그인</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-40"></div>
            </div>
        </nav>
    </div>
</header>
<section class="u-border-2 u-border-black u-border-no-bottom u-border-no-left u-border-no-right u-clearfix u-section-1"
         id="sec-2994">
    <div class="u-clearfix u-sheet u-sheet-1">
            <th:block th:if="${#strings.equals(recruit.game.getName(), '오버워치')}">
                <img class="u-image u-image-circle u-preserve-proportions u-image-1"
                     src="/images/overWatch.png?rand=2bc" data-image-width="512" data-image-height="512">
            </th:block>
            <th:block th:if="${#strings.equals(recruit.game.getName(), '리그오브레전드')}">
                <img class="u-image u-image-circle u-preserve-proportions u-image-1"
                     src="/images/lolIcon.png?rand=2bc1" data-image-width="512" data-image-height="512">
            </th:block>
            <th:block th:if="${#strings.equals(recruit.game.getName(), '배틀그라운드')}">
                <img class="u-image u-image-circle u-preserve-proportions u-image-1"
                     src="/images/battleGroundIcon.png?rand=2bc1" data-image-width="512" data-image-height="512">
            </th:block>
        <h1 class="u-text u-text-1" th:text="${recruit.title}"><br>
            <br>
        </h1>
        <p class="u-small-text u-text u-text-variant u-text-2" th:text="${'작성자: ' + recruit.member.getNickname()}"></p>
        <p class="u-small-text u-text u-text-variant u-text-3" th:text="${#temporals.format(recruit.createdDate, 'YYYY-MM-dd')}"></p>
        <div class="button-poison">
            <a href="/"><p class="u-small-text u-text u-text-variant u-text-20">수정</p></a>
            <a href="/"><p class="u-small-text u-text u-text-variant u-text-21">삭제</p></a>
        </div>
        <div class="u-border-2 u-border-grey-25 u-expanded-width-sm u-expanded-width-xs u-line u-line-horizontal u-opacity u-opacity-70 u-line-1"></div>
        <h4 class="u-text u-text-4" th:text="${recruit.game.getName()}"></h4>
        <h4 class="u-text u-text-default u-text-5">모집인원</h4>
        <h4 class="u-text u-text-6" th:text="${recruit.personnel}"></h4>
        <h4 class="u-text u-text-default u-text-7">모집 게임</h4>
        <h4 class="u-text u-text-8" th:text="${#temporals.format(recruit.createdDate, 'MM-dd &nbsp HH:mm')}"></h4>
        <h4 class="u-text u-text-9" th:text="${recruit.contact}"></h4>
        <h4 class="u-text u-text-default u-text-10">시작 시간</h4>
        <h4 class="u-text u-text-default u-text-11">연락 수단</h4>
        <h2 class="u-text u-text-default u-text-12">파티 소개</h2>
        <div class="u-border-2 u-border-grey-25 u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-line u-line-horizontal u-opacity u-opacity-70 u-line-2"></div>
        <p class="u-large-text u-text u-text-variant u-text-13" th:text="${recruit.content}"><br>
        </p>
        <div class="u-expanded-width-md u-expanded-width-sm u-form u-form-1">
            <form method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                  source="custom" name="form" id="reply-form" style="padding: 0px;">
                <input type="hidden" id="recruitId" name="recruitId" th:value="${recruit.id}">
                <div class="u-form-group u-form-message">
                    <label for="content" class="u-label" th:text="${'댓글 ' + recruit.replyList.size() + '개'}"></label>
                    <textarea placeholder="댓글을 입력하세요." rows="4" cols="50" id="content" name="message"
                              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-20 u-white"
                              required=""></textarea>
                </div>
                <div class="u-align-right u-form-group u-form-submit">
                    <a class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius-20">Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
            </form>
        </div>
        <div id="replyList">
            <div th:each="reply : ${replyList}">
                <th:block th:if="${reply.parent} == null">
                    <p class="u-small-text u-text u-text-variant u-text-14" th:text="${reply.member.getNickname()}"></p>
                    <!--기본 버튼 구성-->
                    <div style="width: 0px">
                        <a href="#" th:onclick="editById([[${reply.id}]], event)" th:id="'updateReplyBtn' + ${reply.id}" style="width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-20" style="width: 26px">수정</p></a>
                        <a href="#" th:onclick="deleteReply([[${reply.id}]], event)" th:id="'deleteReplyBtn' + ${reply.id}" style="width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-21" style="width: 26px">삭제</p></a>
                        <a href="#" th:onclick="Reply([[${reply.id}]], event)" th:id="'ReplyBtn' + ${reply.id}" style="width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-22" style="width: 26px">답글</p></a>
                    </div>

                    <!--수정 버튼 클릭시 버튼 구성-->
                    <div style="display: none; margin-top: 5px; width: 0px" th:id="'updateContentBtn' + ${reply.id}">
                        <a href="#" th:onclick="updateReply([[${reply.id}]], event)" style="width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-20" style="width: 26px">저장</p></a>
                        <a href="#" th:id="'cancelReplyBtn' + ${reply.id}" style="width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-21" style="width: 26px">취소</p></a>
                    </div>

                    <p class="u-small-text u-text u-text-variant u-text-15" th:text="${#temporals.format(reply.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
                    <span class="u-file-icon u-icon u-icon-1"><img src="/images/time.png"></span>
                    <p class="u-text u-text-16" th:id="'content' + ${reply.id}" th:text="${reply.content}"></p>  <!--h:90 w:550-->

                    <!--댓글 수정 폼-->
                    <div style="display: none" th:id="'updateContentDiv' + ${reply.id}">
                        <textarea  class="u-text u-text-16" th:id="'updateContent' + ${reply.id}" th:text="${reply.content}"
                                   style="height: 90px; width: 550px; resize: none; border-radius: 10px"></textarea>
                    </div>
                    <div class="u-border-2 u-border-grey-25 u-expanded-width-md u-expanded-width-sm u-line u-line-horizontal u-opacity u-opacity-70 u-line-3"></div>

                    <!--답글 구역-->
                    <div style="display: none" th:id="'replyForm' + ${reply.id}">
                        <p class="u-small-text u-text u-text-variant u-text-17" th:text="'⤷ &nbsp' + ${reply.member.getNickname()}"></p>
                        <div style=" margin-top: 5px; width: 0px" th:id="'updateContentBtn' + ${reply.id}">
                            <a href="#" th:id="'replySave' + ${reply.id}" style="width: 26px">
                                <p class="u-small-text u-text u-text-variant u-text-20" style="width: 26px">저장</p></a>
                            <a href="#" th:id="'replyCancel' + ${reply.id}" style="width: 26px">
                                <p class="u-small-text u-text u-text-variant u-text-21" style="width: 26px">취소</p></a>
                        </div>
                        <div th:id="'updateContentDiv' + ${reply.id}">
                            <textarea class="u-text u-text-16" th:id="'replyContent' + ${reply.id}"
                                      style="height: 90px; width: 550px; resize: none; border-radius: 10px" placeholder="답글을 입력해주세요"></textarea>
                        </div>
                        <div class="u-border-2 u-border-grey-25 u-expanded-width-md u-expanded-width-sm u-line u-line-horizontal u-opacity u-opacity-70 u-line-4"></div>
                    </div>
                </th:block>

                <th:block th:if="${reply.parent} != null ">
                    <p class="u-small-text u-text u-text-variant u-text-17" th:text="${reply.member.getNickname()}"></p>
                    <div class="reply-poison" style="width: 0px">
                        <a href="#" th:onclick="editById([[${reply.id}]], event)" th:id="'updateReplyBtn' + ${reply.id}" style="width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-20" style="width: 26px">수정</p></a>
                        <a href="#" th:onclick="deleteReply([[${reply.id}]], event)" th:id="'deleteReplyBtn' + ${reply.id}" style="width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-21" style="width: 26px">삭제</p></a>
                        <a href="#" th:id="'ReplyBtn' + ${reply.id}" style="visibility: hidden; width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-22" style="width: 26px">답글</p></a>
                    </div>
                    <div style="display: none; margin-top: 5px; width: 0px" th:id="'updateContentBtn' + ${reply.id}">
                        <a href="#" th:onclick="updateReply([[${reply.id}]], event)" style="width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-20" style="width: 26px">저장</p></a>
                        <a href="#" th:id="'cancelReplyBtn' + ${reply.id}" style="width: 26px">
                            <p class="u-small-text u-text u-text-variant u-text-21" style="width: 26px">취소</p></a>
                    </div>

                    <p class="u-small-text u-text u-text-variant u-text-18" th:text="${#temporals.format(reply.modifiedDate, 'yyyy-MM-dd HH:mm:ss')}"></p></a>
                    <span class="u-file-icon u-icon u-icon-2"><img src="/images/time.png"></span>
                    <p class="u-text u-text-19" th:id="'content' + ${reply.id}" th:text="${reply.content}"></p>
                    <div style="display: none" th:id="'updateContentDiv' + ${reply.id}">
                        <textarea  class="u-text u-text-16" th:id="'updateContent' + ${reply.id}" th:text="${reply.content}"
                                   style="height: 90px; width: 550px; resize: none; border-radius: 10px"></textarea>
                    </div>
                    <span class="u-file-icon u-icon u-icon-3"><img src="/images/reply.png"></span>
                    <div class="u-border-2 u-border-grey-25 u-expanded-width-md u-expanded-width-sm u-line u-line-horizontal u-opacity u-opacity-70 u-line-4"></div>
                </th:block>
            </div>
        </div>
    </div>
</section>

<hr>
<footer class="u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-footer" id="sec-fbac">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-1">
            대표 : 김병훈, 박대준<br>이메일 : qwe@naver.com</p>
        <a class="u-image u-logo u-image-1" data-image-width="346" data-image-height="63">
            <img src="/images/groupirumiconbk.png" class="u-logo-image u-logo-image-1">
        </a>
        <div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
            <a class="u-social-url" target="_blank" data-type="Custom" title="Custom"
               href="https://github.com/pt807/spring-boot-groupirum"><span
                    class="u-file-icon u-icon u-social-custom u-social-icon u-icon-1"><img src="/images/gitIcon.png"></span>
            </a>
        </div>
        <p class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-2">
            © Copyright 2022. ptbh. All Rights Reserved.</p>
    </div>
</footer>
<script src="/js/view.js"></script>
</body>
</html>