<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;" lang="ko">
<head th:include="fragments/head :: head(${recruit.title}, 'recruitView.css')"></head>
<body class="u-body u-xl-mode">
<header th:replace="fragments/header :: header"></header>
<section class="u-border-2 u-border-black u-border-no-bottom u-border-no-left u-border-no-right u-clearfix u-section-1"
         id="sec-2994">
    <div class="u-clearfix u-sheet u-sheet-1">
            <th:block th:if="${#strings.equals(recruit.game.getName(), '오버워치')}">
                <img class="u-image u-image-circle u-preserve-proportions u-image-1"
                     src="/images/overWatch.png?rand=2bc" data-image-width="512" data-image-height="512">
            </th:block>
            <th:block th:if="${#strings.equals(recruit.game.getName(), '리그오브레전드')}">
                <img class="u-image u-image-circle u-preserve-proportions u-image-1"
                     src="/images/lolIcon.png?rand=2bc1" data-image-width="512" data-image-height="512">
            </th:block>
            <th:block th:if="${#strings.equals(recruit.game.getName(), '배틀그라운드')}">
                <img class="u-image u-image-circle u-preserve-proportions u-image-1"
                     src="/images/battleGroundIcon.png?rand=2bc1" data-image-width="512" data-image-height="512">
            </th:block>
        <h1 class="u-text u-text-1" th:text="${recruit.title}"><br>
            <br>
        </h1>
        <p class="u-small-text u-text u-text-variant u-text-2" th:text="${'작성자: ' + recruit.member.getNickname()}"></p>
        <p class="u-small-text u-text u-text-variant u-text-3" th:text="${#temporals.format(recruit.createdDate, 'YYYY-MM-dd')}"></p>
        <div class="u-border-2 u-border-grey-25 u-expanded-width-sm u-expanded-width-xs u-line u-line-horizontal u-opacity u-opacity-70 u-line-1"></div>
        <h4 class="u-text u-text-4" th:text="${recruit.game.getName()}"></h4>
        <h4 class="u-text u-text-default u-text-5">모집인원</h4>
        <h4 class="u-text u-text-6" th:text="${recruit.personnel}"></h4>
        <h4 class="u-text u-text-default u-text-7">모집 게임</h4>
        <h4 class="u-text u-text-8" th:text="${#temporals.format(recruit.createdDate, 'MM-dd &nbsp HH:mm')}"></h4>
        <h4 class="u-text u-text-9" th:text="${recruit.contact}"></h4>
        <h4 class="u-text u-text-default u-text-10">시작 시간</h4>
        <h4 class="u-text u-text-default u-text-11">연락 수단</h4>
        <h2 class="u-text u-text-default u-text-12">파티 소개</h2>
        <div class="u-border-2 u-border-grey-25 u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-line u-line-horizontal u-opacity u-opacity-70 u-line-2"></div>
        <p class="u-large-text u-text u-text-variant u-text-13" th:text="${recruit.content}"><br>
        </p>
        <div class="u-expanded-width-md u-expanded-width-sm u-form u-form-1">
            <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                  source="custom" name="form" style="padding: 0px;">
                <div class="u-form-group u-form-message">
                    <label for="message-8263" class="u-label" th:text="${'댓글 ' + recruit.replyList.size() + '개'}"></label>
                    <textarea placeholder="댓글을 입력하세요." rows="4" cols="50" id="message-8263" name="message"
                              class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-20 u-white"
                              required=""></textarea>
                </div>
                <div class="u-align-right u-form-group u-form-submit">
                    <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-color-1 u-radius-20">Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"></div>
                <div class="u-form-send-error u-form-send-message"></div>
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
        <p class="u-small-text u-text u-text-variant u-text-14">작성자</p>
        <p class="u-small-text u-text u-text-variant u-text-15">2022-07-17 20:12:12</p><span
            class="u-file-icon u-icon u-icon-1"><img src="/images/time.png"></span>
        <p class="u-text u-text-16">댓글 내용...<br>ㅇㅇㄹㅇㄹㅇㅇ
        </p>
        <div class="u-border-2 u-border-grey-25 u-expanded-width-md u-expanded-width-sm u-line u-line-horizontal u-opacity u-opacity-70 u-line-3"></div>
        <p class="u-small-text u-text u-text-variant u-text-17">작성자</p>
        <p class="u-small-text u-text u-text-variant u-text-18">2022-07-17 20:12:12</p><span
            class="u-file-icon u-icon u-icon-2"><img src="/images/time.png"></span>
        <p class="u-text u-text-19">댓글 내용...<br>ㅇㅇㄹㅇㄹㅇㅇ
        </p><span class="u-file-icon u-icon u-icon-3"><img src="/images/reply.png"></span>
        <div class="u-border-2 u-border-grey-25 u-expanded-width-md u-expanded-width-sm u-line u-line-horizontal u-opacity u-opacity-70 u-line-4"></div>
    </div>
</section>
<hr>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>